{% extends "views/layouts/main.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set title = reference + " - Manage a Case" %}

{% block pageTitle %}
    {{ title }}
{% endblock %}

{% block content %}
    {% if folderCreated %}
        {{ govukNotificationBanner({
            classes: "govuk-notification-banner__heading govuk-grid-column-two-thirds",
            text: "Folder created",
            type: "success"
        }) }}
    {% endif %}
    {% if folderDeleted %}
        {{ govukNotificationBanner({
            classes: "govuk-notification-banner__heading govuk-grid-column-two-thirds",
            text: "Folder deleted",
            type: "success"
        }) }}
    {% endif %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-bottom-3">
            <h2 class="govuk-caption-l">
                {{ reference }}
            </h2>
            <h1 class="govuk-heading-l">
                {{ pageHeading }}
            </h1>

            {{ govukButton({
                text: "Create folder",
                classes: "govuk-button--secondary",
                href: currentUrl + "/create-folder"
            }) }}

            <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="pins-link-menu">
                {% if folders|length == 0 %}
                    <p class="govuk-body">There are no folders in this case</p>
                {% else %}
                    {% for folder in folders %}
                        <a class="govuk-link govuk-heading-s" href="{{ currentUrl }}/{{ folder.id }}/{{ folder.encodedDisplayName }}">
                            {{ folder.displayName }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}