{% extends "views/layouts/main.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block pageTitle %}
    Document - Delete Document
{% endblock %}

{% block pageContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form action="{{ currentUrl }}" method="post" novalidate>
                {{ deleteTable(documents) }}

                {{ govukWarningText({
                    text: "This action cannot be undone.",
                    iconFallbackText: "Warning"
                }) }}

                {{ govukButton({
                    text: "Delete file",
                    classes: "govuk-button--warning"
                }) }}
                
            </form>

        </div>

        <div class="govuk-grid-column-two-thirds">
            <a class="govuk-link" href="{{ backLinkUrl }}">
                Cancel and return to folder
            </a>
        </div>
    </div>
{% endblock %}

{% macro deleteTable(docRows) %}
    {% set docs = [] %}

    {% for doc in docRows %}
        {% set docs = (docs.push([
            {
                text: doc.fileName
            }
        ]), docs) %}
    {% endfor %}

    {% set headers = [
        {
            text: 'File name',
            classes: "govuk-!-width-one-fifth"
        }
    ] %}

    {{ govukTable({
        attributes: {
            "data-module": "moj-sortable-table"
        },
        head: headers,
        rows: docs
    }) }}
{% endmacro %}