{% extends "views/layouts/main.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block pageTitle %}
    Document - Delete Documents
{% endblock %}

{% block pageContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form action="{{ removeSelectedFilesFromListUrl }}" method="post" novalidate>

                <input type="hidden" name="returnUrl" value="{{ returnUrl }}">

                {{ deleteTable(documents) }}

                {{ govukWarningText({
                    text: "This action cannot be undone.",
                    iconFallbackText: "Warning"
                }) }}

                {{ govukButton({
                    text: "Delete files",
                    classes: "govuk-button--warning",
                    attributes: {
                        formaction: deleteUrl
                    }
                }) }}

            </form>

        </div>

        <div class="govuk-grid-column-two-thirds">
            <a class="govuk-link" href="{{ backLinkUrl }}">
                Cancel and return to folder
            </a>
        </div>
    </div>
{% endblock %}

{% macro deleteTable(docRows) %}
    {% set docs = [] %}
    {% set multipleFiles = docRows | length > 1 %}

    {% for doc in docRows %}
        {% set actionHtml %}
            <input type="hidden" name="selectedFiles" value="{{ doc.id }}">
            {% if multipleFiles %}
                <button type="submit"
                        name="removeFile"
                        value="{{ doc.id }}"
                        class="govuk-button-as-link">
                    <span class="govuk-visually-hidden">Remove {{ doc.fileName }} from list</span>
                    <span aria-hidden="true">Remove</span>
                </button>
            {% endif %}
        {% endset %}

        {% set docs = (docs.push([
            {
                text: doc.fileName
            },
            {
                html: actionHtml
            }
        ]), docs) %}
    {% endfor %}

    {% set headers = [
        {
            text: 'File name',
            classes: "govuk-!-width-three-quarters"
        },
        {
            text: 'Actions',
            classes: "govuk-!-width-one-quarter"
        }
    ] %}

    {{ govukTable({
        attributes: {
            "data-module": "moj-sortable-table"
        },
        head: headers,
        rows: docs
    }) }}
{% endmacro %}