{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{% macro renderPagination(currentPage, totalPages, currentUrl) %}
    {% set cleanUrl = currentUrl | replace("?page=" ~ currentPage, "") | replace("&page=" ~ currentPage, "") %}

    {% if cleanUrl.indexOf("?") == -1 and cleanUrl.indexOf("&") > -1 %}
         {% set cleanUrl = cleanUrl | replace("&", "?", 1) %}
    {% endif %}

    {% set connector = "&" if cleanUrl.indexOf("?") > -1 else "?" %}

    {% set paginationItems = [] %}

    {# Always include the first page #}
    {% if totalPages > 1 %}
        {% set _ = paginationItems.push({
            "number": 1,
            "href": cleanUrl ~ connector ~ "page=1",
            "current": currentPage == 1
        }) %}
    {% endif %}

    {# Add elipses if there's a gap between first page and current range #}
    {% if currentPage > 3 %}
        {% set _ = paginationItems.push({ "ellipsis": true }) %}
    {% endif %}

    {# Generate up to 3 surrounding pages dynamically #}
    {% for i in range(currentPage - 1, currentPage + 2) %}
        {% if i > 1 and i < totalPages %}
            {% set _ = paginationItems.push({
                "number": i,
                "href": cleanUrl ~ connector ~ "page=" ~ i,
                "current": i == currentPage
            }) %}
        {% endif %}
    {% endfor %}

    {# Add elipses if there's a gap between first page and current range #}
    {% if currentPage < totalPages - 2 %}
        {% set _ = paginationItems.push({ "ellipsis": true }) %}
    {% endif %}

    {# Always include the last page #}
    {% if totalPages > 1 %}
        {% set _ = paginationItems.push({
            "number": totalPages,
            "href": cleanUrl ~ connector ~ "page=" ~ totalPages,
            "current": currentPage == totalPages
        }) %}
    {% endif %}

    {{ govukPagination({
        "previous": { 
            "href": cleanUrl ~ connector ~ "page=" ~ (currentPage - 1) 
        } if currentPage > 1 else {},
        "next": { 
            "href": cleanUrl ~ connector ~ "page=" ~ (currentPage + 1) 
        } if currentPage < totalPages else {},
        "items": paginationItems
    }) }}

{% endmacro %}