$font-family: arial, helvetica, sans-serif;

//Main gov styles
@use 'node_modules/govuk-frontend/dist/govuk/index' with (
	// don't use the GDS Transport font, this service is not on GOV.UK
	// https://www.gov.uk/service-manual/design/making-your-service-look-like-govuk#if-your-service-isnt-on-govuk
	$govuk-font-family: $font-family
);
@forward 'node_modules/@ministryofjustice/frontend/moj/all';
@use './header';

// set font-family for any autocomplete menu items
.autocomplete__menu {
	font-family: $font-family;
}

@media (min-width: 1440px) {
	.pins-container-wide {
		max-width: 1280px;
	}
}

.pins-white-space-pre-wrap {
	white-space: pre-wrap;
}

.status-tag-width {
	max-width: 250px !important;
}

.row-inline {
	display: flex;
	gap: 8px;
}

// Button by GOV-UK default gets 32px of margin-bottom.
// However, we have styled this button to be inline so we do not want that much.
#search-button {
	margin-bottom: 16px;
}

.uploading-bar--hidden {
	display: none;
	margin-bottom: 1em;
}
.uploading-bar--visible {
	display: block;
	margin-bottom: 1em;
}

// This component goes Files Addes -> File Uploader by default with a black dashed dropzone
// But in our designs we want the reverse order with blue dashed dropzone.
.moj-multi-file-upload--enhanced {
	display: flex;
	flex-direction: column-reverse;
	.moj-multi-file-upload__dropzone {
		outline: 3px dashed #1d70b8;
	}
}

.govuk-accordion.hide-controls {
	.govuk-accordion__controls {
		display: none;
	}

	.govuk-accordion__section-button {
		border: none;
	}

	.govuk-table__cell {
		border-bottom-style: none;
	}
}
