$font-family: arial, helvetica, sans-serif;

//Main gov styles
@use 'node_modules/govuk-frontend/dist/govuk/index' with (
	// don't use the GDS Transport font, this service is not on GOV.UK
	// https://www.gov.uk/service-manual/design/making-your-service-look-like-govuk#if-your-service-isnt-on-govuk
	$govuk-font-family: $font-family
);
@forward 'node_modules/@ministryofjustice/frontend/moj/all';
@use 'node_modules/@pins/peas-row-commons-lib/ui/header/pins-header';
@use 'node_modules/@pins/peas-row-commons-lib/ui/footer/pins-footer';
@use 'node_modules/govuk-frontend/dist/govuk/index' as govuk;

// set font-family for any autocomplete menu items
.autocomplete__menu {
	font-family: $font-family;
}

@media (min-width: 1440px) {
	.pins-container-wide {
		max-width: 1280px;
	}
}

.pins-white-space-pre-wrap {
	white-space: pre-wrap;
}

.status-tag-width {
	max-width: 250px !important;
}

.row-inline {
	display: flex;
	gap: 8px;
}

// Button by GOV-UK default gets 32px of margin-bottom.
// However, we have styled this button to be inline so we do not want that much.
#search-button {
	margin-bottom: 16px;
}

.uploading-bar--hidden {
	display: none;
	margin-bottom: 1em;
}
.uploading-bar--visible {
	display: block;
	margin-bottom: 1em;
}

// This component goes Files Addes -> File Uploader by default with a black dashed dropzone
// But in our designs we want the reverse order with blue dashed dropzone.
.moj-multi-file-upload--enhanced {
	display: flex;
	flex-direction: column-reverse;
	.moj-multi-file-upload__dropzone {
		outline: 3px dashed #1d70b8;
	}
}

.govuk-accordion.hide-controls {
	.govuk-accordion__controls {
		display: none;
	}

	.govuk-accordion__section-button {
		border: none;
	}

	.govuk-table__cell {
		border-bottom-style: none;
	}
}

/**
 * The accordion used inside of the section summary list on the 
 * case details page needs to have a "cleaner" style compared to
 * regular one. Namely removing all the spacing and borders so it
 * fits nicely into the list that surrounds it.
 */
.govuk-accordion.pins-clean-accordion {
	border-bottom: none;

	.govuk-accordion__section-heading {
		.govuk-accordion__section-button {
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	.govuk-accordion__section-content {
		padding-top: 5px;
		padding-bottom: 0;
	}
}

/**
* We need to trigger a POST request with what looks like an <a> tag, passing in data.
* To achieve this I have done a button to look like a GOVUK <a> tag to keep accessibility
* standards (button and form pairing), although appreciate there will be critiques of this idea
* too.
*/
.govuk-button-as-link {
	background: transparent;
	border: none;
	color: #1d70b8;
	cursor: pointer;
	display: inline;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	padding: 0;
	text-decoration: underline;
	text-decoration-thickness: max(1px, 0.0625rem);
	text-underline-offset: 0.1578em;
	-webkit-appearance: none;
	appearance: none;

	&:hover {
		color: #003078;
		text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
	}

	&:focus {
		background-color: #ffdd00;
		color: #0b0c0c;
		box-shadow:
			0 -2px #ffdd00,
			0 4px #0b0c0c;
		outline: none;
		text-decoration: none;
	}
}

// Table header for documents table need to be centred for checkbox alignment
.govuk-table.documents-table {
	.govuk-table__header {
		vertical-align: middle;
	}
}

// Specific class to make minor changes to the filter spacing
// and sizing. MOJ filter does not allow custom classes.
.pins-clean-filter {
	.moj-filter {
		.moj-filter__header {
			> .moj-filter__header-title {
				> h2 {
					@include govuk.govuk-font($size: 19, $weight: bold);
				}
			}
		}
		.moj-filter__content {
			.moj-filter__selected {
				.moj-filter__selected-heading {
					.moj-filter__heading-title {
						> h2 {
							@include govuk.govuk-font($size: 19, $weight: bold);
						}
					}
					.moj-filter__heading-action {
						> p {
							margin: 0 0 20px 0;
						}
					}
				}
			}
			.moj-filter__options {
				> button {
					width: 100%;
				}
			}
		}
	}
}

// Widths need to be slightly adjusted for the folder page
.case-folder-filter-column {
	width: 30%;
}

.case-folder-table-column {
	width: 70%;
}
