{% extends "views/layouts/main.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% set title = reference + " - Case Folder" %}

{% block pageTitle %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-bottom-3">
            <h2 class="govuk-caption-l">
                {{ reference }}
            </h2>
            <h1 class="govuk-heading-l">
                {{ pageHeading }}
            </h1>
            <h1 class="govuk-heading-m">
                {{ folderName }} folder
            </h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="pins-link-menu">
                {% if subFolders|length !== 0 %}
                    {% for folder in subFolders %}
                        <a class="govuk-link govuk-heading-s" href="{{ baseFoldersUrl }}/{{ folder.id }}/{{ folder.kebabDisplayName }}">
                            {{ folder.displayName }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <p class="govuk-body govuk-!-font-weight-bold">Files</p>
            {{ govukButton({
                text: "Upload files",
                href: currentUrl + "/upload",
                classes: "govuk-button--secondary"
            }) }}
        </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
{% endblock %}