{% extends "views/layouts/main.njk" %}

{% set title = reference + " - Case Folder" %}

{% block pageTitle %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-bottom-3">
            <h2 class="govuk-caption-l">
                {{ reference }}
            </h2>
            <h1 class="govuk-heading-l">
                {{ pageHeading }}
            </h1>
            <h1 class="govuk-heading-m">
                {{ folderName }}
            </h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="pins-link-menu">
                {% if subFolders|length !== 0 %}
                    {% for folder in subFolders %}
                        <a class="govuk-link govuk-heading-s" href="{{ baseFoldersUrl }}/{{ folder.id }}/{{ folder.kebabDisplayName }}">
                            {{ folder.displayName }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}