{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% extends "views/layouts/main.njk" %}

{% block pageContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: title,
                html: bodyText
            }) }}

            <p class="govuk-body">
                <a href="{{ successBackLinkUrl }}" class="govuk-link">{{ successBackLinkText }}</a>
            </p>
        </div>
    </div>
{% endblock %}
