{% extends "views/layouts/main.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}

{% block content %}
 <div class="govuk-backlink-margin">
      {{ govukBackLink({
        text: "Back",
        href: "/cases"
      }) }}
      </div>
  <div class="govuk-grid-row">
   
    <div class="govuk-grid-column-two-thirds">
        {# Only show the error if it exists #}
      {% if errorMessage %}
        {{ govukErrorMessage({
          text: errorMessage,
          visuallyHiddenText: "Error"
        }) }}
      {% endif %}
      
      <form method="post">
        {{ govukRadios(radioData) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}