{% extends "views/layouts/main.njk" %}

{% from "views/layouts/components/case-notes.njk" import caseNotes %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{% set title = reference + " - " + journeyTitle + " - Manage a Case" %}

{% block pageTitle %}
    {{ title }}
{% endblock %}

{% block content %}
    {% if caseUpdated %}
        {{ govukNotificationBanner({
            classes: "govuk-notification-banner__heading govuk-grid-column-two-thirds",
            text: "Case has been updated",
            type: "success"
        }) }}
    {% endif %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-hint govuk-!-margin-bottom-0">
                {{ reference }}
            </h2>
            <h1 class="govuk-heading-l">
                {{ caseName }}
            </h1>
            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Manage case files",
                    href: baseUrl + "/case-folders",
                    classes: "govuk-button--secondary"
                }) }}
            </div>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">

            <p class="govuk-body govuk-!-font-weight-bold">Summary card list</p>
            {% set allSections = [] %}

            {% for section in summaryListData.sections %}
                {% if section.list.rows.length %}
                    {% set allSections = (allSections.push({
                        heading: section.heading,
                        href: "#" + (section.heading | lower)
                    }), allSections) %}
                {% endif %}
            {% endfor %}

            {% set allSections = (allSections.push({
                heading: "Case audit log",
                href: "#case-audit-log"
            }), allSections) %}

            <ul class="govuk-list govuk-!-margin-bottom-0">
                {% for item in allSections %}
                    {% if loop.index0 < 3 %}
                        <li data-cy="summary-link-{{ item.heading | lower | replace(' ', '-') }}">
                            <a href="{{ item.href }}" class="govuk-link govuk-link--no-visited-state">{{ item.heading }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

            {% if allSections.length > 3 %}
                
                {% set remainingCount = allSections.length - 3 %}

                {% set hiddenLinksHtml %}
                    <ul class="govuk-list govuk-!-margin-bottom-0 govuk-!-margin-top-0">
                        {% for item in allSections %}
                            {% if loop.index0 >= 3 %}
                                <li data-cy="summary-link-{{ item.heading | lower | replace(' ', '-') }}">
                                    <a href="{{ item.href }}" class="govuk-link govuk-link--no-visited-state">{{ item.heading }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endset %}

                {# Default expanded when viewing page for first time after creation. ID has to be unique for this to work. #}
                {{ govukAccordion({
                    id: "more-sections-accordion-" + caseId,
                    classes: "hide-controls pins-clean-accordion",
                    showSectionText: "Show " + remainingCount + " more sections",
                    hideSectionText: "Hide",
                    items: [
                        {
                            expanded: expandSectionList,
                            content: {
                                html: hiddenLinksHtml
                            }
                        }
                    ],
                    attributes: { "data-cy": "more-sections-accordion" }
                }) }}
                
            {% endif %}

            <p class="govuk-body govuk-!-font-weight-bold">Case notes actions</p>
            {{ govukDetails({
                summaryText: allCaseNotesCount + ' case notes',
                html: caseNotes({
                    currentUrl: currentUrl,
                    notes: notes,
                    max: 4,
                    totalNotes: allCaseNotesCount
                })
            }) }}
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% for section in summaryListData.sections %}
                {% if section.list.rows.length %}
                    {{ govukSummaryList({
                        card: {
                            title: {
                                text: section.heading
                            },
                            attributes: {id: section.heading | lower}
                        },
                        rows: section.list.rows
                    }) }}
                {% endif %}
            {% endfor %}

            {{ govukSummaryList({
                card: {
                    title: {
                        text: "Case audit log"
                    },
                    attributes: {id: "case-audit-log"}
                },
                rows: [
                    {
                        key: {
                            text: "Last modified date"
                        },
                        value: {
                            html: lastModifiedDate.date + "<br>" + lastModifiedDate.time if lastModifiedDate.date else "-"
                        }
                    },
                    {
                        key: {
                            text: "Last modified by"
                        },
                        value: {
                            text: lastModifiedBy if lastModifiedBy else "-"
                        }
                    },
                    {
                        key: {
                            text: "Case closed date"
                        },
                        value: {
                            html: closedDate.date if closedDate.date else "-"
                        }
                    },
                    {
                        key: {
                            text: "Case history"
                        },
                        value: {
                            html: ""
                        },
                        actions: {
                            items: [
                                {
                                    href: baseUrl + "/case-history",
                                    text: "View",
                                    visuallyHiddenText: "case history"
                                }
                            ]
                        }
                    }
                ]
            }) }}
        </div>
    </div>
{% endblock %}