{% extends "views/layouts/main.njk" %}

{% from "views/layouts/components/case-notes.njk" import caseNotes %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set title = reference + " - " + journeyTitle + " - Manage a Case" %}

{% block pageTitle %}
    {{ title }}
{% endblock %}

{% block content %}
    {% if caseUpdated %}
        {{ govukNotificationBanner({
            classes: "govuk-notification-banner__heading govuk-grid-column-two-thirds",
            text: "Case has been updated",
            type: "success"
        }) }}
    {% endif %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-bottom-3">
            <h2 class="govuk-hint govuk-!-margin-bottom-0">
                {{ reference }}
            </h2>
            <h1 class="govuk-heading-l">
                {{ caseName }}
            </h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <ul class="govuk-list">
                {% for section in summaryListData.sections %}
                    {% if section.list.rows.length %}
                        <li>
                            <a href="#{{ section.heading | lower }}"
                            class="govuk-link govuk-link--no-visited-state">{{ section.heading }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            {{ govukDetails({
                summaryText: notes.length + ' case notes',
                html: caseNotes({
                    currentUrl: currentUrl,
                    notes: notes
                })
            }) }}
        </div>
        <div class="govuk-grid-column-one-third govuk-!-text-align-right">
            {{ govukButton({
                text: "Manage case documents",
                href: baseUrl + "/case-folders",
                classes: "govuk-button--secondary"
            }) }}
        </div>
        <div class="govuk-grid-column-full">
            {% for section in summaryListData.sections %}
                {% if section.list.rows.length %}
                    {{ govukSummaryList({
                        card: {
                            title: {
                                text: section.heading
                            },
                            attributes: {id: section.heading | lower}
                        },
                        rows: section.list.rows
                    }) }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
