{% extends "views/layouts/main.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{%- from "moj/components/multi-file-upload/macro.njk" import mojMultiFileUpload -%}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set title = reference + " - Case Folder" %}

{% block pageTitle %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-bottom-3">
            <h1 class="govuk-heading-l">
                Upload files in {{ folder.displayName }} folder
            </h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">Each file must be:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>DBF, DOC, DOCX, HTML, JPEG, JPG, MOV, MP3, MP4, MPEG, MSG, PDF, PNG, PPT, PPTX, PRJ, SHP, SHX, TIF, TIFF, XLS, XLSM, or XLSX</li>
                <li>smaller than 250MB</li>
            </ul>
            <p class="govuk-body">The total combined size of your uploaded files must be smaller than 1GB.</p>

            {% set uploadForm = "upload-form" %}

            <form id = "upload-form-container" action="{{ currentUrl }}" method="post" enctype="multipart/form-data" data-upload-url="{{ currentUrl }}/document" data-delete-url="{{ currentUrl }}/delete">
                {% set uploadHtml %}
                    {{ govukFileUpload({
                        id: uploadForm,
                        name: uploadForm,
                        classes: "moj-multi-file-upload__input",
                        attributes: { multiple: "" },
                        errorMessage: errorMessage
                    }) }}

                    {{ govukButton({
                        text: "Upload file",
                        classes: "govuk-button--secondary moj-multi-file-upload__button"
                    }) }}
                {% endset %}

                {{ mojMultiFileUpload({
                    uploadedFiles: {
                        heading: { text: "Files added" },
                        items: uploadedFiles
                    },
                    uploadHtml: uploadHtml
                }) }}
            </form>
            <form action="{{ currentUrl }}" method="post">
                {{ govukButton({
                    text: "Upload"
                }) }}
            </form>

            <script type="module" {% if cspNonce %}nonce="{{ cspNonce }}"{% endif %}>
                import { MultiFileUpload } from '/assets/js/moj-frontend.min.js';
                
                const $multiFileUpload = document.querySelector(
                    '[data-module="moj-multi-file-upload"]'
                );

                const $form = document.querySelector('#upload-form-container');

                if ($multiFileUpload) {
                    new MultiFileUpload($multiFileUpload, {
                        uploadUrl: $form.dataset.uploadUrl,
                        deleteUrl: $form.dataset.deleteUrl
                    });
                }
            </script>
        </div>
    </div>
{% endblock %}