{% extends "views/layouts/main.njk" %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% if not title %}
  {% set title %}
    {{ question.pageTitle | default('GOV.UK') }} - Planning Inspectorate Portal
  {% endset %}
{% endif %}

{% block pageTitle %}{{ "Error: " + title if errors else title }}{% endblock %}

{# show question content within content, overrides main content #}
{% block content %}
    {% block dynQuestionContent %}{% endblock %}
{% endblock %}

{% if warningMessage %}
  {% set beforeSubmitButton = govukWarningText({
    text: warningMessage
  }) %}
{% endif %}