<div class="govuk-hint">
    {% if hintPrefix %}{{ hintPrefix }} {% endif %}Enter the name of individual, company name, or both. You can enter:
    <ul class="govuk-list govuk-list--bullet govuk-hint">
        <li>a person's name</li>
        <li>a joint party, company or organisation name</li>
        <li>both a person and a company name</li>
    </ul>
    Use the '{{ orgNameLabel }}' field to add multiple names at once e.g. Mr and Mrs Smith
</div>