ENVIRONMENT=dev

# the log level for pino
LOG_LEVEL=debug

# Authentication
AUTH_DISABLED=false
## Only required if AUTH_DISABLED=false
APP_HOSTNAME=localhost:8090
AUTH_CLIENT_ID=<populate-client-id>
AUTH_GROUP_APPLICATION_ACCESS=<populate-entra-group-for-app-access>
AUTH_TENANT_ID='5878df98-6f88-48ab-9322-998ce557088d'
AUTH_CLIENT_SECRET=<populate-client-secret>
## For development you can typically just populate these groups with whatever you put in the app access group above.
ENTRA_GROUP_ID_ALL_USERS=<populate-entra-group-for-grouping>
ENTRA_GROUP_ID_CASE_OFFICERS=<populate-entra-group-for-grouping>
ENTRA_GROUP_ID_INSPECTORS=<populate-entra-group-for-grouping>

# a secret used for sessions
SESSION_SECRET=not-a-real-secret
SQL_CONNECTION_STRING=<populate-SQL-connection-string>

# Blob settings
BLOB_STORE_DISABLED=false
## Only required if BLOB_STORE_DISABLED=false
BLOB_STORE_CONNECTION_STRING=<developer-connection-string>

# Chromium local path used for puppeteer in development
CHROMIUM_LOCAL_PATH=<chromium-local-path>
