{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "BETA"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="https://forms.cloud.microsoft/e/dC8AUkxZnC" target="_blank" rel="noopener noreferrer">give your feedback (opens in a new tab)</a>.'
}) }}
