{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{# 
    Takes 2 optional parameters, to show checkboxes and to show a "view folder link" in actions.
#}
{% macro documentsTable(documentsList, currentUrl, showCheckboxes=false, showFolderLink=false) %}

    {% set rows = [] %}

    {% for doc in documentsList %}
        {% set rowItems = [] %}

        {% if showCheckboxes %}
            {% set checkboxHtml %}
                <div class="govuk-checkboxes__item govuk-checkboxes--small mo-checkbox-table-cell">
                    <input class="govuk-checkboxes__input" id="select-file-{{ doc.id }}" name="selectedFiles" type="checkbox" value="{{ doc.id }}" data-cy="file-checkbox-{{ doc.id }}">
                    <label class="govuk-label govuk-checkboxes__label" for="select-file-{{ doc.id }}">
                        <span class="govuk-visually-hidden">Select {{ doc.fileName }}</span>
                    </label>
                </div>
            {% endset %}
            {% set rowItems = (rowItems.push({ html: checkboxHtml }), rowItems) %}
        {% endif %}

        {% set fileLinkHtml %}
            {% if doc.isPreview %}
                <a class="govuk-link govuk-!-font-weight-bold" href="{{ doc.downloadHref }}?preview=true" target="_blank" data-cy="file-link-{{ doc.id }}">
                {{ doc.fileName }}
                </a>
            {% else %}
                <p class="govuk-body govuk-!-font-weight-bold" data-cy="file-name-{{ doc.id }}">
                {{ doc.fileName }}
                </p>
            {% endif %}
        {% endset %}

        {% set rowItems = (rowItems.push({
            html: fileLinkHtml,
            attributes: { "data-sort-value": doc.fileName | lower }
        }), rowItems) %}

        {% set rowItems = (rowItems.push({ text: doc.fileType }), rowItems) %}

        {% set rowItems = (rowItems.push({
            text: doc.size,
            attributes: { "data-sort-value": doc.sizeSort }
        }), rowItems) %}

        {% set rowItems = (rowItems.push({
            text: doc.date,
            attributes: { "data-sort-value": doc.dateSort }
        }), rowItems) %}

        {% set actionsHtml %}
            <a class='govuk-link' href="{{ doc.downloadHref }}" data-cy="download-file-{{ doc.id }}">Download</a> | <a class='govuk-link' href="{{ currentUrl }}/{{ doc.id }}/delete" data-cy="delete-file-{{ doc.id }}">Delete</a>

            {% if showFolderLink %}
                <br>
                <a class='govuk-link' href="/cases/{{ doc.caseId }}/case-folders/{{ doc.folder.id }}/{{ doc.folder.displayName }}" data-cy="view-folder-{{ doc.id }}">View folder</a>
            {% endif %}
        {% endset %}

        {% set rowItems = (rowItems.push({ html: actionsHtml }), rowItems) %}

        {% set rows = (rows.push(rowItems), rows) %}
    {% endfor %}

    {% set headers = [] %}

    {% if showCheckboxes %}
        {% set selectAllHtml %}
            <div class="govuk-checkboxes__item govuk-checkboxes--small mo-checkbox-table-cell">
                <input type="checkbox" class="govuk-checkboxes__input" id="checkboxes-all" name="checkboxes-all" value="all" data-cy="select-all-files">
                <label class="govuk-label govuk-checkboxes__label" for="checkboxes-all">
                    <span class="govuk-visually-hidden">Select all documents</span>
                </label>
            </div>
        {% endset %}
        {% set headers = (headers.push({ html: selectAllHtml }), headers) %}
    {% endif %}

    {% set headers = (headers.push(
        {
            text: 'File name',
            attributes: { "aria-sort": "none" },
            classes: "govuk-!-width-one-third"
        },
        {
            text: 'File type',
            attributes: { "aria-sort": "none" }
        },
        {
            text: 'File size',
            attributes: { "aria-sort": "none" }
        },
        {
            text: 'Uploaded',
            attributes: { "aria-sort": "descending" }
        },
        {
            text: 'Actions'
        }
    ), headers) %}

    {{ govukTable({
        attributes: {
            "data-module": "moj-sortable-table",
            "data-cy": "documents-table"
        },
        head: headers,
        rows: rows
    }) }}

{% endmacro %}