{% extends "views/layouts/main.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "views/layouts/components/filter.njk" import filterComponent %}
{% from "views/layouts/components/search-bar.njk" import searchBar %}

{% import "views/pagination/pagination.njk" as pagination %}
{% import "views/pagination/pagination-options.njk" as paginationOptions %}


{% block pageTitle %}
    Case list - All Cases - Manage a Case
{% endblock %}

{% block pageContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <form method="GET" action="{{ currentPath }}">
                {{ filterComponent(
                    filters.checkboxGroups,
                    filters.selectedCategories
                ) }}
            </form>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <form id="search-bar-form" method="GET">
                {{ searchBar({
                    input: {
                        label: {
                            text: "Search cases"
                        },
                        hint: {
                            text: "To find a specific case, search by reference."
                        },
                        classes: "govuk-input govuk-input--width-30"
                    },
                    button: {
                        text: "Search",
                        classes: "govuk-button"
                    }
                }, searchValue) }}
            </form>
            <div id="pagination" class="govuk-body">
                <p class="govuk-body govuk-clearfix">
                    <p class="govuk-body">
                        Showing <strong>{{ paginationParams.resultsStartNumber }}</strong> to <strong>{{ paginationParams.resultsEndNumber if paginationParams.totalCases > paginationParams.resultsEndNumber else paginationParams.totalCases }}</strong>
                        of <strong>{{ paginationParams.totalCases }}</strong> results
                    </p>
                    <p class="pins-pagination-options">
                        {{ paginationOptions.renderPagination(paginationParams.selectedItemsPerPage, paginationParams.totalCases, paginationParams.pageNumber, paginationParams.searchValue) }}
                    </p>
                </p>

                {% if cases|length == 0 %}
                    <p class="govuk-body">No results were found.</p>
                    <p class="govuk-body"><a href="/cases" class="govuk-link govuk-link--no-visited-state">Clear search</a> to view all cases.</p>
                {% else %}
                    {{ casesTable(cases) }}
                {% endif %}
            </div>

            {# if pageNumber and totalPages values are both 1 then pagination options not shown #}
            {{ pagination.renderPagination(paginationParams.pageNumber, paginationParams.totalPages, currentUrl) }}
        </div>
    </div>

{% endblock %}

{% macro casesTable(caseRows) %}
    {% set cases = [] %}

    {% for case in caseRows %}
        {% set cases = (cases.push([
            {
                html: "<a class='govuk-link' target='_blank' href='/cases/" +  case.id +"'>" + case.reference + "</a>",
                attributes: {
                    "data-sort-value": case.reference
                }
            },
            {
                text: case.SubType.displayName if case.SubType else case.Type.displayName
            },
            {
                text: case.name
            },
            {
                text: case.Status.displayName
            }
        ]), cases) %}
    {% endfor %}

    {% set headers = [
        {
            text: 'Reference',
            classes: "govuk-!-width-one-fifth",
            attributes: {
                "aria-sort": "none"
            }
        },
        {
            text: 'Subtype',
            classes: "govuk-!-width-one-quarter",
            attributes: {
                "aria-sort": "none"
            }
        },
        {
            text: 'Case name',
            classes: "govuk-!-width-one-quarter",
            attributes: {
                "aria-sort": "none"
            }
        },
        {
            text: 'Status',
            classes: "govuk-!-width-one-quarter",
            attributes: {
                "aria-sort": "none"
            }
        }
    ] %}

    {{ govukTable({
        attributes: {
            "data-module": "moj-sortable-table"
        },
        head: headers,
        rows: cases
    }) }}
{% endmacro %}